/* 
* common
*/
html {
  font-size: 62.5%;
  font-size: 3.13vw;
}
main {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.mo {
  display: none;
}
.featured_sec {
  width: 1140px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
/* notice */
.notice-wrap {
  position: relative;
  width: 100%;
  background: #e1e1e1;
}
.notice-wrap .tle {
  position: relative;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  color: #323232;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.25s;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
}
.notice-wrap .tle::after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  margin: -8px 0 0 8px;
  border: solid #323232;
  border-width: 0 1px 1px 0;
  padding: 4px;
  transform: rotate(45deg);
  transition: all 0.25s;
}
.notice-wrap .content-wrap {
  padding: 20px 0 56px;
  display: none;
}
.notice-wrap .open {
  background: transparent;
}
.notice-wrap .open::after {
  margin-top: 3px;
  transform: rotate(-135deg);
}
.notice-wrap .notice_cont {
  width: 80%;
  max-width: 100%;
  margin: 0 auto 20px;
}
.notice-wrap .notice_cont h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #323232;
}
.notice-wrap .notice_cont li {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding-left: 15px;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  line-height: 1.7;
  color: #323232;
  word-break: keep-all;
  word-wrap: break-word;
}
.notice-wrap .notice_cont li:before {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  top: 14px;
  width: 6px;
  height: 1px;
  background-color: #323232;
}

/* 
* ballo bag
*/
.baloBag .effect_wrap {
  position: absolute;
  top: 14%;
  width: 32.2%;
  height: 40rem;
  left: 58.7%;
  background-position: 0 -100%;
  animation: rolling_txt 8s cubic-bezier(0.4, 0, 1, 1) infinite;
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-image: url(../../assets/images/jestina/balloBag/rolling.png);
  text-indent: -9999px;
  opacity: 1;
  background-position: 0 1167px;
}
@keyframes rolling_txt {
  /* 첫번째 이미지 */
  0% {
    background-position: 0 600px;
    background-position: 0 38rem;
  }
  20% {
    background-position: 0px 71.5rem;
  }
  21% {
    background-position: 0px 71.5rem;
  }
  22% {
    background-position: 0px 72.8rem;
  }
  23% {
    background-position: 0px 72.8rem;
  }
  24% {
    background-position: 0px 74rem;
  }
  25% {
    background-position: 0px 74rem;
  }
  /* 두번째 이미지 */
  40% {
    background-position: 0 106rem;
  }
  41% {
    background-position: 0 106rem;
  }
  42% {
    background-position: 0 107.6rem;
  }
  43% {
    background-position: 0 107.6rem;
  }
  44% {
    background-position: 0 108.6rem;
  }
  50% {
    background-position: 0 108.6rem;
  }
  /* 세번째 이미지 */
  65% {
    background-position: 0 142rem;
  }
  66% {
    background-position: 0 142rem;
  }
  67% {
    background-position: 0 143.5rem;
  }
  68% {
    background-position: 0 143.5rem;
  }
  70% {
    background-position: 0 144.5rem;
  }
  75% {
    background-position: 0 144.5rem;
  }
  /* 네번째 이미지 */
  86% {
    background-position: 0px 175.5rem;
  }
  87% {
    background-position: 0px 175.5rem;
  }
  88% {
    background-position: 0px 176.5rem;
  }
  89% {
    background-position: 0px 176.5rem;
  }
  90% {
    background-position: 0px 177.5rem;
  }
  100% {
    background-position: 0px 177.5rem;
  }
}
.baloBag .featured_gif-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: 0 0;
  background-size: 100% 100%;
  animation-timing-function: ease-in-out;
}
.baloBag .gif01 .featured_gif-wrap {
  animation: gitEffect1 6s steps(1) infinite forwards;
  animation-timing-function: ease-in-out;
}
.baloBag .gif02 .featured_gif-wrap {
  animation: gitEffect2 6s steps(1) infinite forwards;
  animation-timing-function: ease-in-out;
}
.baloBag .featured_link-more {
  position: absolute;
  display: block;
  bottom: 0;
  height: 85px;
  width: 100%;
}
@keyframes gitEffect1 {
  0% {
    background-image: url("../../assets/images/jestina/balloBag/sec01_item01.jpg");
  }
  30% {
    background-image: url("../../assets/images/jestina/balloBag/sec01_item02.jpg");
  }
  35% {
    background-image: url("../../assets/images/jestina/balloBag/sec01_item02.jpg");
  }
  60% {
    background-image: url("../../assets/images/jestina/balloBag/sec01_item03.jpg");
  }
  70% {
    background-image: url("../../assets/images/jestina/balloBag/sec01_item03.jpg");
  }
  100% {
    background-image: url("../../assets/images/jestina/balloBag/sec01_item01.jpg");
  }
}
@keyframes gitEffect2 {
  0% {
    background-image: url("https://webimg.jestina.co.kr/UpData/jestina/2024/featured/0627_ballo_haul/sec02_item01.jpg");
  }
  30% {
    background-image: url("https://webimg.jestina.co.kr/UpData/jestina/2024/featured/0627_ballo_haul/sec02_item02.jpg");
  }
  35% {
    background-image: url("https://webimg.jestina.co.kr/UpData/jestina/2024/featured/0627_ballo_haul/sec02_item02.jpg");
  }
  60% {
    background-image: url("https://webimg.jestina.co.kr/UpData/jestina/2024/featured/0627_ballo_haul/sec02_item03.jpg");
  }
  70% {
    background-image: url("https://webimg.jestina.co.kr/UpData/jestina/2024/featured/0627_ballo_haul/sec02_item03.jpg");
  }
  100% {
    background-image: url("https://webimg.jestina.co.kr/UpData/jestina/2024/featured/0627_ballo_haul/sec02_item01.jpg");
  }
}
@media (max-width: 768px) {
  .baloBag .effect_wrap {
    position: absolute;
    top: 45%;
    width: 81%;
    height: 55%;
    left: 50%;
    transform: translateX(-50%);
    background-position: 0 -100%;
    /* animation: rolling_txt 9s linear infinite backwards; */
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-image: url(../../assets/images/jestina/balloBag/mo_rolling2.png);
    text-indent: -9999px;
    opacity: 1;
    background-position: 0 43rem;
  }
  @keyframes rolling_txt {
    /* 첫번째 이미지 */
    0% {
      background-position: 0 43rem;
    }
    5% {
      background-position: 0 43rem;
    }
    7% {
      background-position: 0 60rem;
    }
    15% {
      background-position: 0 82rem;
    }
    16% {
      background-position: 0 82rem;
    }
    17% {
      background-position: 0 83rem;
    }
    18% {
      background-position: 0 83rem;
    }
    22% {
      background-position: 0 84rem;
    }
    23% {
      background-position: 0 84rem;
    }
    /* 두번째 이미지 */
    33% {
      background-position: 0 113rem;
    }
    34% {
      background-position: 0 113rem;
    }
    35% {
      background-position: 0 115rem;
    }
    36% {
      background-position: 0 115rem;
    }
    37% {
      background-position: 0 119rem;
    }
    38% {
      background-position: 0 123rem;
    }
    40% {
      background-position: 0 123rem;
    }
    44% {
      background-position: 0 123rem;
    }
    45% {
      background-position: 0 123rem;
    }
    /* 세번째 이미지 */
    58% {
      background-position: 0 157rem;
    }
    60% {
      background-position: 0 157rem;
    }
    61% {
      background-position: 0 159rem;
    }
    62% {
      background-position: 0 159rem;
    }
    63% {
      background-position: 0 161rem;
    }
    64% {
      background-position: 0 161rem;
    }
    65% {
      background-position: 0 163rem;
    }
    70% {
      background-position: 0 163rem;
    }
    /* 네번째 이미지 */
    80% {
      background-position: 0 190rem;
    }
    81% {
      background-position: 0 190rem;
    }
    82% {
      background-position: 0 192rem;
    }
    83% {
      background-position: 0 192rem;
    }
    84% {
      background-position: 0 194rem;
    }
    85% {
      background-position: 0 194rem;
    }
    86% {
      background-position: 0 196rem;
    }
    87% {
      background-position: 0 196rem;
    }
    88% {
      background-position: 0 198rem;
    }
    100% {
      background-position: 0 198rem;
    }
  }
  .baloBag .featured_sec {
    max-width: 960px;
    min-width: 280px;
  }
  .baloBag .gif01.featured_sec,
  .baloBag .gif02.featured_sec {
    height: 61.5rem;
  }
  .baloBag .gif01.featured_sec img,
  .baloBag .gif02.featured_sec img {
    position: relative;
    z-index: -1;
  }
  .baloBag .featured_gif-wrap {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-position: 0 0;
    background-size: 100% 100%;
    z-index: 100;
  }
  .baloBag .gif01 .featured_gif-wrap {
    animation: gitEffect1 7s steps(1) infinite forwards;
    animation-timing-function: ease-in-out;
  }
  .baloBag .gif02 .featured_gif-wrap {
    animation: gitEffect2 5s steps(1) infinite forwards;
    animation-timing-function: ease-in-out;
  }
  .baloBag .featured_link-more {
    height: 7.5%;
  }
  @keyframes gitEffect1 {
    0% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec01_item01.jpg");
    }
    30% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec01_item02.jpg");
    }
    35% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec01_item02.jpg");
    }
    60% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec01_item03.jpg");
    }
    70% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec01_item03.jpg");
    }
    100% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec01_item01.jpg");
    }
  }
  @keyframes gitEffect2 {
    0% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec02_item01.jpg");
    }
    30% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec02_item02.jpg");
    }
    35% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec02_item02.jpg");
    }
    60% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec02_item03.jpg");
    }
    70% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec02_item03.jpg");
    }
    100% {
      background-image: url("../../assets/images/jestina/balloBag/m_sec02_item01.jpg");
    }
  }
}
/* 
* womensWatch
*/
.womensWatch .watch_progressbar {
  position: absolute;
  bottom: 19px;
  transform: translateX(-50%);
  left: 50%;
  width: 96.5%;
  height: 2.5px;
  background: #ffffff3d;
  border-radius: 7px;
  overflow: hidden;
  z-index: 100;
}
.womensWatch .watch_progressbar span {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transform-origin: left center;
  background: #fff;
  border-radius: 7px;
  transform: scaleX(0);
  transition-timing-function: linear;
}
.womensWatch .watch_mainSildeItem {
  width: 100%;
}
.womensWatch .featured_btn-wrap {
  position: absolute;
  display: flex;
  bottom: 10%;
  right: 7%;
  max-width: 48%;
  width: 100%;
  height: 19%;
}
.womensWatch .featured-link {
  position: absolute;
  display: block;
  width: 20%;
  height: 10%;
  z-index: 100;
}
.womensWatch .sec02 .featured-link_wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 940px;
  height: 474px;
}
.womensWatch .sec02 .featured-link {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url(../../assets/images/jestina/watch/btn.png) no-repeat;
  background-size: 100% 100%;
  border-radius: 20px;
}
.womensWatch .sec02 .featured-link_wrap.link_wrap01 {
  top: 80px;
}
.womensWatch .sec02 .link_wrap01 .featured-link.link01 {
  top: 97px;
  left: 651px;
}
.womensWatch .sec02 .link_wrap01 .featured-link.link02 {
  top: 277px;
  left: 564px;
}
.womensWatch .sec02 .link_wrap01 .featured-link.link03 {
  top: 182px;
  right: 154px;
}
.womensWatch .sec02 .featured-link_wrap.link_wrap02 {
  top: 594px;
}
.womensWatch .sec02 .link_wrap02 .featured-link.link01 {
  top: 143px;
  left: 135px;
}
.womensWatch .sec02 .link_wrap02 .featured-link.link02 {
  top: 315px;
  left: 323px;
}
.womensWatch .sec02 .featured-link_wrap.link_wrap03 {
  top: 1108px;
}
.womensWatch .sec02 .link_wrap03 .featured-link.link01 {
  top: 279px;
  left: 567px;
}
.womensWatch .sec02 .link_wrap03 .featured-link.link02 {
  top: 227px;
  left: 742px;
}

/* 
* IU Magazine
*/
.IU-Magazine .tlt {
  animation: fadeIn ease-in 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
.IU-Magazine .tlt img {
  width: 100%;
}
.IU-Magazine .tlt01 {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  width: 342px;
}
.IU-Magazine .tlt02 {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translateX(-50%);
  animation-delay: 0.8s;
}
.IU-Magazine .tlt03 {
  position: absolute;
  top: 40.5%;
  left: 64.5%;
  animation-delay: 1.5s;
}
.IU-Magazine .rotate {
  position: absolute;
  right: 1.5%;
  top: 10.5%;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: rotate_txt;
}
.IU-Magazine .rolling {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 50px;
  animation: textSlide 60s linear 0s infinite;
  background-image: url(../assets/images/jestina/iu_magazine/rolling02.png);
  background-repeat: repeat-x;
  background-position: 0 0%;
}
.IU-Magazine .event_link {
  position: absolute;
  bottom: 30%;
  right: 22%;
  width: 30%;
  height: 10%;
}
.IU-Magazine .event_link .icon {
  position: absolute;
  right: 13%;
  top: 38%;
}
.IU-Magazine .featured-link__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.IU-Magazine .featured-link__list {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.IU-Magazine .featured-link__item {
  position: absolute;
}
.IU-Magazine .featured-link {
  width: 100%;
  height: 100%;
  display: block;
}
.IU-Magazine .icon {
  position: absolute;
  animation-duration: 1.5s;
}
.IU-Magazine .sec03 .item01 {
  width: 45%;
  height: 17%;
  right: 4%;
  top: 16%;
}
.IU-Magazine .sec03 .item02 {
  width: 45%;
  height: 19%;
  left: 4%;
  top: 43.8%;
}
.IU-Magazine .sec03 .item03 {
  width: 43%;
  height: 19%;
  right: 1%;
  top: 75%;
}
.IU-Magazine .sec03 .item01 .icon {
  right: 20%;
  top: 56.5%;
}
.IU-Magazine .sec03 .item02 .icon {
  right: 46%;
  top: 54%;
}
.IU-Magazine .sec03 .item03 .icon {
  right: 51%;
  top: 91%;
}
.IU-Magazine .sec04 .item01 {
  width: 36%;
  height: 26%;
  right: 12%;
  top: 41%;
}
.IU-Magazine .sec04 .item02 {
  width: 36%;
  height: 17%;
  right: 12%;
  top: 71%;
}
.IU-Magazine .sec04 .item01 .icon {
  top: 91%;
  left: 24%;
}
.IU-Magazine .sec04 .item02 .icon {
  top: 90%;
  left: 33%;
}
.IU-Magazine .sec05 .item01 {
  width: 39%;
  height: 13.6%;
  left: 8%;
  top: 28%;
}
.IU-Magazine .sec05 .item02 {
  width: 39%;
  height: 24%;
  left: 58%;
  top: 62%;
}
.IU-Magazine .sec05 .item01 .icon {
  top: 60%;
  left: 86%;
}
.IU-Magazine .sec05 .item02 .icon {
  top: 45%;
  left: 52%;
}
.IU-Magazine .sec06 .item01 {
  width: 45%;
  height: 4%;
  left: 49%;
  top: 80%;
}
.IU-Magazine .sec06 .item02 {
  width: 39%;
  height: 4%;
  left: 53%;
  top: 84%;
}
.IU-Magazine .sec06 .item01 .icon {
  top: 48%;
  right: 5%;
}
.IU-Magazine .sec06 .item02 .icon {
  top: 30%;
  right: 14%;
}

.IU-Magazine .sec07 .item01 {
  width: 36%;
  height: 26%;
  right: 11%;
  top: 24%;
}
.IU-Magazine .sec07 .item02 {
  width: 36%;
  height: 17.5%;
  right: 54%;
  top: 64.3%;
}
.IU-Magazine .sec07 .item01 .icon {
  top: 88%;
  left: 31%;
}
.IU-Magazine .sec07 .item02 .icon {
  top: 87%;
  left: 43%;
}
.IU-Magazine .videoArea {
  position: absolute;
  top: 18.5%;
  left: 51.8%;
  width: 40.5%;
  height: 59.3%;
  z-index: 1;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate_txt {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes textSlide {
  0% {
    background-position-x: 1000%;
  }
  100% {
    background-position-x: 0%;
  }
}

/* 
  * poshe
  */

section .inner {
  position: relative;
  width: 100%;
  height: auto;
}

/* cont_top */
.poche .cursor_blink {
  position: absolute;
  top: 10%;
  right: 30.5%;
  animation: cursor 1s steps(1) infinite;
  opacity: 0;
}
.poche .cursor_blink img {
  width: 100%;
}
/* 상품 미선택 시 gif */
.poche .cont_top .imgWrap {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 519px;
}
.poche .cont_top .imgWrap img.first {
  animation-delay: 7s;
  animation-timing-function: ease-in-out;
}
.poche .cont_top .imgWrap img.second {
  animation-delay: 5s;
  animation-timing-function: ease-in-out;
}
.poche .cont_top .imgWrap img.third {
  animation-delay: 3s;
  animation-timing-function: ease-in-out;
}
.poche .cont_top .imgWrap img.fourth {
  animation-delay: 0s;
  animation-timing-function: ease-in-out;
}
.poche .cont_top .imgWrap img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%; /* transform: translate(-50%); */
  animation-name: poche;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
/* 선택 result */
#result_box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14.2rem;
}
#result_box img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
#result_box .mo {
  height: 0;
}
/* 체크부분 */
.poche .select_box {
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  width: 78%;
  height: 57%;
}
.poche .select_box ul {
  width: 100%;
  height: 100%;
  display: flex;
}
.poche .select_box ul li {
  width: 100%;
  height: 100%;
}
.poche .select_box .check {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}
.poche .select_box .check input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.poche .check input + label {
  padding-left: 0 !important;
}
.poche .select_box .check input[type="radio"]:checked + label {
  position: absolute;
  left: 51%;
  transform: translate(-50%);
  bottom: 11%;
  width: 17%;
  height: 19%;
  background: url(../assets/images/jestina/poche/check_icon.png) no-repeat;
  background-position: center center;
  background-size: 100% auto;
  padding: 0;
  margin: 0;
}
#complete_btn {
  position: absolute;
  bottom: 16%;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  width: 39%;
  height: 15%;
  font-size: 0 !important;
  border: none;
  cursor: pointer;
}
#jestina_renewal input:read-only {
  background-color: transparent !important;
}
/* 팝업 */
.poche .layerPop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.5);
}
.poche .layerPop > .content {
  display: inline-block;
  position: relative;
  top: 15%;
  overflow: hidden;
  background: transparent;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
}
.poche .layerPop > .content img {
  width: 100% !important;
}
.poche .layerPop > .content button {
  position: absolute;
  top: 0;
  right: 2%;
  width: 28%;
  height: 16%;
  font: 0/0 a;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

/* notice */
.poche .notice-wrap {
  position: relative;
  width: 100%;
  background-color: #dfdcf5;
  border-top: 1px solid #7c72c7;
}
.poche .notice-wrap .tle {
  color: #6a5fb8;
}
.poche .notice-wrap .tle::after {
  border: solid #6a5fb8;
  border-width: 0 1px 1px 0;
}
.poche .notice-wrap .notice_cont li {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding-left: 15px;
  font-weight: 400;
  text-align: left;
  font-size: 18px;
  line-height: 1.7;
  color: #6a5fb8;
  word-break: keep-all;
  word-wrap: break-word;
}
.poche .notice_cont h2 {
  color: #6a5fb8;
}
.poche .notice-wrap .notice_cont li:before {
  background-color: #6a5fb8;
}

@keyframes cursor {
  50% {
    opacity: 1;
  }
}
@keyframes poche {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .IU-Magazine .tlt01 {
    top: 33%;
    width: 45%;
  }
  .IU-Magazine .tlt02 {
    width: 41%;
  }
  .IU-Magazine .tlt03 {
    top: 42%;
    left: 71%;
    width: 22.5% !important;
  }
  .IU-Magazine .rotate {
    top: 20%;
    width: 13% !important;
  }
  .IU-Magazine .rolling {
    height: 1rem;
    animation: textSlide 30s linear 0s infinite;
    background-image: url(../assets/images/jestina/iu_magazine/m_rolling02.png);
    background-size: auto 50%;
  }
  .IU-Magazine .event_link {
    bottom: 24%;
    right: 17%;
    width: 22%;
    height: 10%;
  }
  .IU-Magazine .event_link .icon {
    right: 13%;
    top: 38%;
  }
  .IU-Magazine .featured-link__item .icon {
    animation-duration: 1.5s;
    /* width: 5% !important; */
  }
  .IU-Magazine .sec03 .item01 {
    position: absolute;
    width: 95%;
    height: 9%;
    left: 50%;
    transform: translate(-50%);
    top: 32%;
  }
  .IU-Magazine .sec03 .item02 {
    position: absolute;
    width: 95%;
    height: 13%;
    left: 50%;
    transform: translate(-50%);
    top: 52%;
  }
  .IU-Magazine .sec03 .item03 {
    position: absolute;
    width: 100%;
    height: 11%;
    left: 50%;
    transform: translate(-50%);
    top: 86%;
  }
  .IU-Magazine .sec03 .item01 .icon {
    left: 19%;
    top: 53.5%;
  }
  .IU-Magazine .sec03 .item02 .icon {
    right: 18%;
    top: 76.5%;
  }
  .IU-Magazine .sec03 .item03 .icon {
    right: 29%;
    top: 58.5%;
  }
  .IU-Magazine .sec04 .item01 {
    width: 40%;
    height: 30.5%;
    right: 0;
    top: 40%;
  }
  .IU-Magazine .sec04 .item02 {
    width: 56%;
    height: 16%;
    right: 3%;
    top: 79%;
  }
  .IU-Magazine .sec04 .item01 .icon {
    top: 92.8%;
    left: 35%;
  }
  .IU-Magazine .sec04 .item02 .icon {
    top: 85%;
    left: 27%;
  }
  .IU-Magazine .sec05 .item01 {
    width: 73%;
    height: 10%;
    left: 15%;
    top: 40%;
  }
  .IU-Magazine .sec05 .item02 {
    width: 39%;
    width: 78%;
    height: 22%;
    left: 10%;
    top: 75%;
  }
  .IU-Magazine .sec05 .item01 .icon {
    top: 60%;
    left: 86%;
  }
  .IU-Magazine .sec05 .item02 .icon {
    top: 50.5%;
    left: 54%;
  }

  .IU-Magazine .sec06 .item01 {
    width: 87%;
    height: 3.5%;
    left: 9%;
    top: 88%;
  }
  .IU-Magazine .sec06 .item02 {
    width: 87%;
    height: 3.5%;
    left: 9%;
    top: 91.7%;
  }
  .IU-Magazine .sec06 .item01 .icon {
    top: 48%;
    right: 5%;
  }
  .IU-Magazine .sec06 .item02 .icon {
    top: 30%;
    right: 14%;
  }
  .IU-Magazine .sec07 .item01 {
    width: 39%;
    height: 34%;
    right: 2%;
    top: 21.5%;
  }
  .IU-Magazine .sec07 .item02 {
    width: 45%;
    height: 24%;
    right: 51%;
    top: 65%;
  }
  .IU-Magazine .sec07 .item01 .icon {
    top: 93%;
    left: 46%;
  }
  .IU-Magazine .sec07 .item02 .icon {
    top: 89%;
    left: 39%;
  }
  .IU-Magazine .videoArea {
    top: 26.5%;
    left: 50.5%;
    transform: translateX(-50%);
    width: 77.7%;
    /* height: 50.3%; */
  }
  .sweet_day .notice-wrap {
    background: linear-gradient(70deg, #fedff1, #fcd6ee);
  }
}
/* 
* common
*/
@media (max-width: 768px) {
  .mo {
    display: block;
  }
  .pc {
    display: none;
  }
  /* notice */
  .notice-wrap .tle {
    padding: 1rem 0 !important;
    font-size: 1.1rem;
  }
  .notice-wrap .content-wrap {
    padding: 1rem 0 2rem;
  }
  .notice-wrap .notice_cont {
    width: 90%;
  }
  .notice-wrap .tle::after {
    margin: -6px 0 0 6px;
    padding: 2.5px;
  }
  .notice-wrap .notice_cont h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .notice-wrap .notice_cont li {
    font-size: 1rem;
    line-height: 1.5;
  }
  .notice-wrap .notice_cont li:before {
    top: 14px;
    width: 6px;
    height: 1px;
  }
  /* 
  * womensWatch
  */
  .m_watch_item_swiper {
    position: absolute;
    width: 84%;
    height: 83%;
    left: 50%;
    transform: translateX(-50%);
    top: 7%;
  }
  .wacth_item-slide {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .wacth_item-link {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../assets/images/jestina/watch/m_btn-more.png) no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    opacity: 1;
  }
  .wacth_slide01 .wacth_item-link.link01 {
    top: 49.2%;
    left: 10.3%;
  }
  .wacth_slide01 .wacth_item-link.link02 {
    top: 48.55%;
    left: 85.2%;
  }
  .wacth_slide02 .wacth_item-link.link01 {
    top: 33.6%;
    left: 20%;
  }
  .wacth_slide02 .wacth_item-link.link02 {
    top: 55.9%;
    left: 75%;
  }
  .wacth_slide03 .wacth_item-link.link01 {
    top: 29.3%;
    left: 12%;
  }
  .wacth_slide03 .wacth_item-link.link02 {
    top: 68%;
    left: 73.3%;
  }
  .womensWatch .sec02 .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    bottom: 3.8rem;
    left: 50%;
    width: 15%;
    display: flex;
    justify-content: space-between;
    transform: translateX(-50%);
  }
  .womensWatch .sec02 .swiper-pagination-bullet {
    background: #7d818f !important;
    opacity: 1;
  }
  .womensWatch .sec02 .swiper-pagination-bullet-active {
    background: #ffffff !important;
  }
  /* 
  * poshe
  */

  .poche .jestina-sub-project__wrap {
    width: 100%;
    max-width: 960px;
    min-width: 280px;
    margin: 0 auto;
  }
  .poche .jestina-sub-project__wrap section {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  section .inner {
    width: 100%;
    height: auto;
  }
  .poche .w100 {
    width: 100%;
    vertical-align: middle;
  }
  .poche .contentBottom {
    display: block;
    width: 100%;
    height: 1px;
  }

  /* cont_top */
  .poche .cursor_blink {
    position: absolute;
    top: 14%;
    right: 16%;
    width: 5.5%;
    height: auto;
    animation: cursor 1s steps(1) infinite;
    opacity: 0;
  }
  .poche .cursor_blink img {
    width: 100%;
  }
  /* 상품 미선택 시 gif */
  .poche .cont_top .imgWrap {
    position: absolute;
    bottom: -0.5%;
    left: 0;
    width: 100%;
    height: 57%;
  }
  .poche .cont_top .imgWrap img.first {
    animation-delay: 7s;
    animation-timing-function: ease-in-out;
  }
  .poche .cont_top .imgWrap img.second {
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
  }
  .poche .cont_top .imgWrap img.third {
    animation-delay: 3s;
    animation-timing-function: ease-in-out;
  }
  .poche .cont_top .imgWrap img.fourth {
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
  }
  .poche .cont_top .imgWrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* transform: translate(-50%); */
    animation-name: poche;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  /* 선택 result */
  #result_box {
    position: absolute;
    bottom: -0.5%;
    left: 0;
    width: 100%;
    height: 57%;
  }
  #result_box img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  #result_box .pc {
    height: 0;
  }
  #result_box .mo {
    display: none;
    height: 100%;
  }
  /* 체크부분 */
  .poche .select_box {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 72%;
  }
  .poche .select_box ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .poche .select_box ul li {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .poche .select_box .check {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .poche .select_box .check input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
  }
  .poche .select_box .check input[type="radio"]:checked + label {
    position: absolute;
    left: 15%;
    top: 0%;
    width: 17%;
    height: 19%;
    background: url(../assets/images/jestina/poche/m_check_icon.png) no-repeat;
    background-position: center center;
    background-size: 100% auto;
    padding: 0;
    margin: 0;
  }
  #complete_btn {
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
    width: 77%;
    height: 11%;
    font-size: 0 !important;
    border: none;
  }
  #jestina_renewal input:read-only {
    background-color: transparent !important;
  }

  @keyframes cursor {
    50% {
      opacity: 1;
    }
  }
  @keyframes poche {
    0% {
      opacity: 1;
    }
    17% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
