@charset "UTF-8";
/*========================
========  mywork ========
========================*/
.myPort {
    position: relative;
    display: block;
    max-width: 1136px;
    padding-top: 56px;
    box-sizing: border-box;
    overflow-x: hidden;
}
.myPort__inner {
    max-width: 1136px;
    margin: 0 auto;
    padding: 0 32px;
}
.myPort__ico-close {
    max-width: 1136px;
    position: fixed;
    cursor: pointer;
    width: 32px;
    height: 32px;
    right: 24px;
    top: 24px;
}
.myPort__ico-close img {
    width: 100%;
}
.myPort__name {
    font-size: 40px;
    margin-bottom: 16px;
    text-align: center;
}
.myPort__name-sub {
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    text-align: center;
}
.myPort__head {
    color: #292929;
    font-size: 44px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 24px;
    letter-spacing: -1px;
}
.myPort__thum {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    overflow-y: auto;
    padding-top: 3vw;
    border-radius: 10px;
    border: 1px solid transparent;
    background-image: url(../images/scoll_Section.png);
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 15px rgba(170, 170, 170, 0.2);
    margin-bottom: 32px;
    box-sizing: border-box;
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}
.myPort__thum::-webkit-scrollbar {
    display: none;
}
.myPort__thum-img {
    position: relative;
    width: 100%;
    height: 500px;
    overflow-y: auto;
    border: transparent;
    cursor: grab;
    box-sizing: border-box;
}
.myPort__thum-img::-webkit-scrollbar {
    display: none;
}
.myPort__thum-img::after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/ico/scroll.png);
    background-color: rgba(135, 135, 135, 0.2);
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center 50%;
    z-index: 10;
}
.myPort__thum-img:hover::after {
    display: none;
}
.myPort__thum-img img {
    width: 100%;
}
.myPort__thum-doguri {
    max-width: 320px;
    padding-top: 0;
    background: none;
    box-sizing: border-box;
}
.myPort__thum-doguri__thum-img {
    width: 100%;
    height: 500px;
}
.myPort__summary {
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 56px;
}
.myPort__more {
    margin-bottom: 32px;
}
.myPort__more-link {
    display: inline-block;
    height: 100%;
    cursor: pointer;
    font-size: 14px;
    padding: 8px 16px;
    color: #fff;
    background: rgb(31, 97, 132);
    border-radius: 10px;
    margin-right: 5px;
    box-shadow: 3px 3px 7px rgba(31, 97, 132, 0.4);
}
.myPort__more-txt {
    font-size: 14px;
    margin-top: 16px;
}
.myPort__overView-text {
    font-size: 16px;
    margin-bottom: 24px;
    word-break: keep-all;
}
.myPort__overView-tle {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 24px;
    text-transform: capitalize;
    color: #292929;
}
.myPort__overView-tle-sub {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #292929;
}
.myPort__overView-list {
    margin-bottom: 24px;
}
.myPort__overView-item {
    font-size: 14px;
    margin-bottom: 4px;
}
.myPort__overView-item::before {
    content: "-";
    display: inline-block;
    margin-right: 8px;
}
.myPort-desc {
    margin-bottom: 24px;
}
.myPort-desc__item {
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
}
.myPort-desc__head {
    font-size: 16px;
    margin-bottom: 4px;
}
.myPort-desc__tle {
    font-weight: bold;
    margin-right: 2px;
}
.myPort-desc__span {
    display: block;
}
.myPort-desc__span::before {
    content: "-";
    margin-right: 5px;
}
.myPort-desc__comment::before {
    content: "*";
    vertical-align: sub;
    margin-right: 5px;
}
.myPort-site {
    margin-bottom: 56px;
}
.myPort-site__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.myPort-site__item {
    height: 100%;
    margin: 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
}
.myPort-site__item.myPort-site__pc {
    width: calc(70% - 12px);
}
.myPort-site__item.myPort-site__m {
    width: calc(30% - 12px);
    margin: 0;
}
.myPort-site__item img {
    width: 100%;
}

.myPort-section__inner {
    width: 100%;
}
.myPort-section__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
}
.myPort-section__item:nth-child(2n) {
    flex-direction: row-reverse;
    text-align: right;
}
.myPort-section__item .myPort-section__desc {
    padding-right: 24px;
}
.myPort-section__thum {
    width: 50%;
    border-radius: 10px;
}
.myPort-section__desc {
    color: #292929;
    width: 50%;
    padding-left: 24px;
}
.myPort-content__inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1136px;
    margin-bottom: 56px;
}
.myPort-content__inner.myPort-content__second {
    padding: 0;
    flex-direction: row-reverse;
}
.myPort-content__inner.myPort-content__second .myPort-content__thum {
    margin-right: 0;
}
.myPort-content__inner.myPort-content__second .myPort-content__txt {
    margin-right: 16px;
}
.myPort-content__thum {
    max-width: 60%;
    width: 100%;
    margin: 0 16px 0 0;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.myPort-content__thum.swiper-container {
    margin: 0 32px 0 0;
}
.myPort-content__thum-list {
    display: flex;
}
.myPort-content__thum-item {
    max-width: 700px;
    width: 100%;
}
.myPort-content__thum-img {
    max-width: 700px;
    width: 100%;
    margin: 0 32px 0 0;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.myPort-content__thum-m {
    max-width: 500px;
}
.myPort-content__tle {
    font-size: 24px;
    margin-bottom: 16px;
}
.myPort-content__item {
    margin-bottom: 24px;
}
.myPort-content__item:last-child {
    margin-bottom: 0px;
}
.myPort-content__txt {
    margin: 0;
}
.myPort-content__text {
    font-size: 16px;
    margin: 0;
}
.myPort-content__skill {
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 8px;
    color: #a37a7a;
}

/* 가로 해상도가 768px 보다 작은 큰화면에 적용) */
@media only screen and (max-width: 768px) {
    /*========================
========  mywork ========
========================*/
    .myPort {
        padding: 3.4rem 1.6rem 0;
    }
    .myPort__inner {
        max-width: 73.6rem;
        margin: 0 auto;
        padding: 0;
    }
    .myPort__ico-close {
        width: 2.5rem;
        height: 2.5rem;
        right: 2.5rem;
        top: 2.5rem;
    }
    .myPort__name {
        font-size: 2.4rem;
        margin-bottom: 1.6rem;
        text-align: left;
    }
    .myPort__name-sub {
        font-size: 1rem;
        margin-bottom: 0.4rem;
        text-align: left;
    }
    .myPort__head {
        font-size: 2.7rem;
        margin-bottom: 1.6rem;
    }
    .myPort__thum {
        max-width: 70rem;
        height: 30rem;
        /* background-image: url(../images/scoll_Section.png); */
        margin-bottom: 1.6rem;
    }
    .myPort__thum-img img {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        display: block;
    }
    .myPort__thum-img::after {
        display: none;
    }
    .myPort__thum-doguri {
        max-width: 34rem;
        width: 75%;
        height: 48rem;
    }
    .myPort__thum-doguri  .myPort__thum-img{
        width: 100%;
        height: auto;
    }
    .myPort__thum-doguri .myPort__thum-img img{
        width: 100%;     
    }

    .myPort__summary {
        margin-bottom: 3.4rem;
    }
    .myPort__more {
        margin-bottom: 2.4rem;
    }
    .myPort__more-link {
        cursor: pointer;
        font-size: 1.4rem;
        padding: 0.8rem 1.6rem;
        box-shadow: 3px 3px 7px rgba(31, 97, 132, 0.4);
    }
    .myPort__more-txt {
        font-size: 1.1rem;
        margin-top: 1.2rem;
    }
    .myPort__overView-text {
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
    }
    .myPort__overView-tle {
        font-size: 2.4rem;
        margin-bottom: 1.6rem;
    }
    .myPort__overView-tle-sub {
        font-size: 1.6rem;
        margin-bottom: 0.8rem;
    }
    .myPort__overView-list {
        margin-bottom: 24px;
    }
    .myPort__overView-item {
        font-size: 1.4rem;
        margin-bottom: 0.4rem;
    }
    .myPort-desc {
        margin-bottom: 1.2rem;
    }
    .myPort-desc__item {
        display: inline-block;
        font-size: 1.4rem;
        margin-right: 2rem;
    }
    .myPort-desc__head {
        font-size: 1.4rem;
        margin-bottom: 0.4rem;
    }
    /* 
     */

    .myPort-site {
        margin-bottom: 3.2rem;
    }
    .myPort-site__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .myPort-site__item {
        height: 100%;
        max-width: 98%;
        margin: 0;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
        overflow: hidden;
    }
    .myPort-site__item.myPort-site__pc {
        width: 69%;
    }
    .myPort-site__item.myPort-site__m {
        width: 29%;
    }
    .myPort-site__item img {
        width: 100%;
    }

    .myPort-section__inner {
        width: 100%;
    }
    .myPort-section__item {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        align-items: center;
        
    }
    .myPort-section__item:nth-child(2n) {
        flex-direction: row-reverse;
        text-align: right;
    }
    .myPort-section__item .myPort-section__desc {
        padding-right: 24px;
    }
    .myPort-section__thum {
        width: 50%;
    }
    .myPort-section__desc {
        color: #292929;
        width: 50%;
        padding-left: 24px;
    }
    .myPort-content__inner {
        display: flex;
        flex-direction: column;
        /* justify-content: flex-start; */
        /* align-items: center; */
        max-width: 52.5rem;
        margin-bottom: 3.2rem;
    }
    .myPort-content__inner.myPort-content__second {
        flex-direction: column;
    }
    .myPort-content__inner.myPort-content__second .myPort-content__txt {
        margin-right: 16px;
    }
    .myPort-content__thum {
        max-width: 650px;
        margin: 0 auto 1.6rem;
    }
    .myPort-content__thum.swiper-container {
        max-width: 52.5rem;
        margin: 0 0 1.6rem;
    }
    .myPort-content__thum-list {
        display: flex;
    }
    .myPort-content__thum-item {
        max-width: 700px;
        width: 100%;
    }
    .myPort-content__thum-img {
        max-width: 700px;
        width: 100%;
        margin: 0 0 0 0;
        border-radius: 10px;
        border: 1px solid #ddd;
    }
    .myPort-content__tle {
        font-size: 1.8rem;
        margin-bottom: 0.8rem;
    }
    .myPort-content__item {
        margin-bottom: 1.6rem;
    }
    .myPort-content__txt {
        margin: 0;
    }
    .myPort-content__text {
        font-size: 1.4rem;
        margin: 0;
    }
    .myPort-content__skill {
        font-size: 1.6rem;
        margin-bottom: 0.8rem;
        color: #a37a7a;
    }
}
